<section class="container vh-80 guest-checkin-container">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="../../../../assets/images/check-in-image.webp"
          class="img-fluid"
          alt="Sample image"
        />
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form>
          <h1 class="lead fw-normal mb-0 me-3 guest-check-in">
            Guest Check In
          </h1>

          <!-- First name input -->
          <div class="form-outline mb-4 my-4">
            <label for="firstName" class="form-label">First Name</label>
            <input
              type="input"
              id="firstName"
              class="form-control form-control-lg"
              placeholder="Enter first name"
            />
          </div>

          <!-- Last name input -->
          <div class="form-outline mb-4">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              type="input"
              id="lastName"
              class="form-control form-control-lg"
              placeholder="Enter last name"
            />
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button
              type="button"
              class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem"
            >
              Check In
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
